/*Código armado por La Foca Loca S.A. No modificar*/

body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/fondo.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
}

li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
  border-radius: 3px;
}

.col-40 {
  padding: 30px;
  color: #000;
  background: #ffffff;
  border:3px solid #3b7a66;
}

.col-60{
  background-color: #1b381a;
  width: 600px;
  height: 600px;

}

#juego div {

  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

img{
  float:left;
  width: 197px;
  height: 197px;
  border-radius: 5px;
  margin: 1px 1px;
}

.pieza{
  float:left;
  width: 197px;
  height: 197px;
  border-radius: 5px;
  margin: 1px 1px;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

h2{
  font-family: 'Raleway', sans-serif;
}

li{
  font-family: 'Raleway', sans-serif;
}
